@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0d1117;
  color: #c9d1d9;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

::selection {
  background: rgba(35, 134, 54, 0.3);
  /* Security Green selection */
  color: #ffffff;
}

code,
pre,
.font-mono {
  font-family: 'JetBrains Mono', monospace;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #0d1117;
}

::-webkit-scrollbar-thumb {
  background: #30363d;
  border-radius: 5px;
  border: 2px solid #0d1117;
}

::-webkit-scrollbar-thumb:hover {
  background: #8b949e;
}

/* Utilities */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}